USE [EasyPark]
GO
/****** Object:  Table [dbo].[compras]    Script Date: 18/10/2015 21:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compras](
	[ID_COMPRA] [int] IDENTITY(1,1) NOT NULL,
	[VALOR] [decimal](9, 2) NOT NULL,
	[DESCRICAO] [varchar](5) NOT NULL,
	[DATA_COMP] [datetime] NOT NULL,
	[HORA_COMP] [time](7) NOT NULL,
	[TOKEN] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[funcionarios]    Script Date: 18/10/2015 21:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionarios](
	[ID_FUNCIONARIO] [int] IDENTITY(1,1) NOT NULL,
	[PESSOA_ID] [int] NOT NULL,
	[SETOR] [int] NOT NULL,
	[FISCAL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[logins]    Script Date: 18/10/2015 21:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[logins](
	[PESSOA_ID] [int] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[SALDO] [decimal](9, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PESSOA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[notificacoes]    Script Date: 18/10/2015 21:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notificacoes](
	[ID_NOTICACAO] [int] IDENTITY(1,1) NOT NULL,
	[COMPRA_ID] [int] NOT NULL,
	[VEICULO_ID] [int] NOT NULL,
	[FUNCIONARIO_ID] [int] NULL,
	[HORA_NOT] [time](7) NULL,
	[DATA_NOT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[COMPRA_ID] ASC,
	[VEICULO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pessoas]    Script Date: 18/10/2015 21:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pessoas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[RG] [varchar](10) NOT NULL,
	[CIDADE] [varchar](100) NOT NULL,
	[SENHA] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[veiculos]    Script Date: 18/10/2015 21:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[veiculos](
	[ID_VEICULO] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_ID] [int] NOT NULL,
	[PLACA] [varchar](7) NOT NULL,
	[MODELO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VEICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[funcionarios]  WITH CHECK ADD FOREIGN KEY([PESSOA_ID])
REFERENCES [dbo].[pessoas] ([ID])
GO
ALTER TABLE [dbo].[logins]  WITH CHECK ADD FOREIGN KEY([PESSOA_ID])
REFERENCES [dbo].[pessoas] ([ID])
GO
ALTER TABLE [dbo].[notificacoes]  WITH CHECK ADD FOREIGN KEY([COMPRA_ID])
REFERENCES [dbo].[compras] ([ID_COMPRA])
GO
ALTER TABLE [dbo].[notificacoes]  WITH CHECK ADD FOREIGN KEY([FUNCIONARIO_ID])
REFERENCES [dbo].[funcionarios] ([ID_FUNCIONARIO])
GO
ALTER TABLE [dbo].[notificacoes]  WITH CHECK ADD FOREIGN KEY([VEICULO_ID])
REFERENCES [dbo].[veiculos] ([ID_VEICULO])
GO
ALTER TABLE [dbo].[veiculos]  WITH CHECK ADD FOREIGN KEY([LOGIN_ID])
REFERENCES [dbo].[logins] ([PESSOA_ID])
GO
